[Unit]
Description=Monitor Background Service

StartLimitIntervalSec=30
StartLimitBurst=3

[Service]
Type=simple

ExecStart=/usr/local/bin/monitor

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target